.exam_con {
  padding-top: 30px;
  position: relative;
  color: rgb(119, 119, 158);
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.exam_con .title {
  background: rgb(213 213 255);
  padding: 0 5px;
}
